body {
    background-color: #ffbb0f;
}

.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.innerContainer {
    flex-basis: 1200px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.buttonContainer {
    display: flex;
    border-radius: 5px;
    gap: 2rem;
    margin-bottom: 2rem;
}

button {
    background-color: blue;
    color: white;
    border-radius: 25px;
    padding: 1rem;
    padding-inline: 50px;
}

button:disabled {
    background-color: lightgray;
}

header > div > img {
    width: 100%;
    max-width: 700px;
}

.listOfTwenty {
    /* Kan helaas geen waarde meegeven met column-count
    column-count: 10;
    column-width: 20rem;
    */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}